.rule {
  display: flex;
  width: 100%;
  border-bottom: solid 1px #ddd;
  padding: .25em .5em;

  > .ant-radio-group {
    // display: flex;
    // flex-direction: column;
    border-right: solid 1px #f4f4f4;
    margin-right: .5em;
  }
}

.rule__icon {
  flex: none;
  text-align: center;
  width: 1.2em;
  font-size: 1.2em;
}

.rule__info {
  border-left: solid 1px #f4f4f4;
  border-right: solid 1px #f4f4f4;
  padding: 0 .5em;
  margin: 0 .5em;
  width: 40em;
}

.rule__url {
  margin: 0 .5em;
}

.rule__category {
  color: #bbb;
  font-size: .9em;
}

.rule__debug {
  width: 30em;
  font-size: .9em;
  font-family: monospace;
}
